.page {
  font-family: "Inter", "Arial", sans-serif;
  color: white;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  position: relative;
  background-color: #000000;
  min-height: 100vh;
}

#root {
  background-color: #000000;
}
