.auth {
  margin: 60px auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__input {
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: 14px;
  line-height: 1.2;
  width: 358px;
  height: 50px;
  background-color: inherit;
  padding: 0;
  color: white;
}

.auth__header {
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 24px;
  line-height: 1.2;
}

.auth__input_type_password {
  margin-top: 30px;
}

.auth__submit {
  margin-top: 216px;
  background-color: #ffffff;
  border-radius: 2px;
  height: 50px;
}

.auth__link {
  margin: 15px auto 0;
  text-decoration: none;
  color: inherit;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__email {
  padding: 0;
  margin-right: 24px;
}

.header__link {
  color: white;
  text-decoration: none;
}

.popup__container_type_alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup_message {
  color: black;
  text-align: center;
}

.popup__alert {
  width: 120px;
  height: 120px;
}
